/*-------------
共通
-------------*/
:root {
    --font-jp-serif: "Noto Serif JP", serif;
    --under-max-width-1: 1400px;
    --under-width-base: 92%;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

/*-------------
下層共通
-------------*/
body.under::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vw;
    background-image: radial-gradient(at 0% 0%, #32669833, transparent 63vw);
    position: fixed;
    left: 0px;
    top: 0px;
}
.circle-white {
    display: block;
    width: 110vw;
    height: 99vw;
    background-color: #fff;
    position: fixed;
    left: 124px;
    top: 123px;
    border-radius: 50%;
    z-index: 0;
}

.under main {
    position: relative;
    z-index: 1;
}
.under section {
    width: var(--under-width-base);
    max-width: var(--under-max-width-1);
    margin-inline: auto;
}

.under footer {
    position: relative;
}

.under-hero {
    width:var(--under-width-base);
    max-width: var(--under-max-width-1);
    margin: auto;
    padding-top: 178px;
    position: relative;
}

/*ぱんくず*/
.breadcrumb {
    font-size: 14px;
}
.breadcrumb-link {
    display: inline-block;
    padding-right: 2em;
    position: relative;
}
.breadcrumb-link a {
    color: var(--color-brand);
    font-weight: 500;
}
.breadcrumb-link a:hover {
    text-decoration: underline;
}
.breadcrumb-link::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: var(--color-brand);
    position: absolute;
    top: calc(50% - 3px);
    right: calc(1em - 3px);
    border-radius: 50%;
}
.breadcrumb-link-current::after {
    display: none;
}

/*下層ヒーロー（ページタイトル）*/
.under-hero-box {
    margin: 30px 0px 90px;
}
.under-hero-box::after {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #337F99;
    border-radius: 2px;
}

.under-page-ti {
    padding-bottom: 80px;
}

.under-page-ti-main {
    font-family: var(--font-en);
    font-size: 100px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -0.05em;
    background: var(--color-brand);
    background: linear-gradient(90deg, rgba(50, 102, 152, 1) 0%, rgba(80, 171, 186, 1) 41%, rgba(50, 102, 152, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}
.under-page-ti-sub {
    font-size: 28px;
    font-weight: 700;
    line-height: 1em;
    margin-top: 20px;
}


/*ページ内アンカー*/
.under-anchor {
    position: sticky;
    top: 110px;
    z-index: 100;
    margin-bottom: 80px;
}
.under-anchor-list {
    width:var(--under-width-base);
    max-width: var(--under-max-width-1);
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    background: #fff;
}

.under-anchor-list-item {
    display: inline-block;
}
.under-anchor-list-item a {
    display: block;
    padding: 30px;
    line-height: 1em;
    position: relative;
}
.under-anchor-list-item:not(:last-child) a::after {
    content: "";
    display: block;
    width: 1px;
    height: 1em;
    background-color: #828282;
    position: absolute;
    right: 0px;
    top: calc(50% - 0.5em);
}

.under-anchor-list-item span {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.under-anchor-list-item span::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: middle;
    background: url(../images/common/arrow3_blue.svg);

}

/*リード*/
.under-lead {
    width:var(--under-width-base);
    max-width: var(--under-max-width-1);
    margin: 0px auto 105px;
    position: relative;
}
.under-lead-txt {
    font-weight: 500;
}

/*共通 H2タイトル*/
.under-h2-1 {
    margin-bottom: 64px;
}
.under-h2-1-sub {
    font-weight: 700;
    color: var(--color-brand);
    margin-bottom: 15px;
}
.under-h2-1-main {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2em;
}

.under-h2-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    padding: 30px 0px;
    border-bottom: solid 1px #C8C8C8;
}
.under-h2-2-main {
    font-size: 40px;
    font-weight: 500;
    padding-right: 30px;
    padding-left: 0.6em;
    margin-right: 30px;
    border-right: solid 1px #828282 ;
    line-height: 1em;
    position: relative;
}
.under-h2-2-main::before {
    content: "";
    display: block;
    width: 0.2em;
    height: 0.2em;
    border-radius: 50%;
    background: var(--color-brand);
    position: absolute;
    left: 0px;
    top: calc(50% - 0.1em);
}
.under-h2-2-sub {
    font-size: 24px;
}

.under-h3-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    padding: 30px 0px;
    border-bottom: solid 1px #C8C8C8;
}
.under-h3-2-main {
    font-size: 32px;
    font-weight: 500;
    padding-right: 30px;
    padding-left: 0.6em;
    margin-right: 30px;
    border-right: solid 1px #828282 ;
    line-height: 1em;
    position: relative;
}
.under-h3-2-main::before {
    content: "";
    display: block;
    width: 0.2em;
    height: 0.2em;
    border-radius: 50%;
    background: var(--color-brand);
    position: absolute;
    left: 0px;
    top: calc(50% - 0.1em);
}
.under-h3-2-sub {
    font-size: 22px;
}



/*外部リンク*/
.btn--blue[target="_blank"]::after {
    background: url(../images/common/icon-outer_white.svg) no-repeat center center, var(--color-brand);
    position: relative;
}
.btn--blue[target="_blank"]:hover::after {
    background: url(../images/common/icon-outer_blue.svg) no-repeat center center, var(--color-white);
}

.under-paragraph-1:not(:last-child){
    margin-bottom: 1em;
}
.lh200 {
    line-height: 2em;
}


/*フッター上、内部リンク*/
.bottom-link {
    margin-block: 324px 139px;
}
.bottom-link-list {
    display: flex;
    flex-direction: row;
}
.bottom-link-list-item {
    width: 50%;
    position: relative;
}
.bottom-link-list-img img {
    width: 100%;
    height: auto;
}
.bottom-link-list-item-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
}
.bottom-link-list-item-info {
    display: flex;
    flex-direction: column;
}
.bottom-link-list-item-info-main {
    font-size: 3.4vw;
    font-family: var(--font-en);
    font-weight: 700;
}
.bottom-link-list-item-info-sub {
    font-size: 1.3vw;
    font-weight: 700;
    line-height: 1em;
}

/*幅*/
.w083 {
    width: 83%;
    max-width: 1000px;
    margin: auto;
}
.w100 {
    width: 100% !important;
}

/*文字関連*/
.txtB {
    font-weight: 700;
}

/*-------------
事業とグループ企業
-------------*/
/*企業一覧*/
.under-business-unit-summary {
    font-weight: 500;
    margin-bottom: 80px;
}

.under-section-1__inner {
    margin-top: 80px;
}
.under-section-1__inner:not(:first-child) {
    margin-top: 140px;
}

.under-business-company-list {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.under-business-company-list-item {
    display: flex;
    gap: 60px;
}
.under-business-company-list-item-left {
    width: 450px;
}
.under-business-company-list-item-right {
    width: calc(100% - 510px);

}
.under-business-company-list-item-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 100 / 66;
    border: solid 1px var(--color-brand);
    border-radius: 20px;
    background: #fff;
}
.under-business-company-list-item-logo img {
    width: 85%;
    height: auto;
}
#yamaichi .under-business-company-list-item-logo img {
    width: 100%;
}
#foods .under-business-company-list-item-logo img {
    width: 80%;
}
#skillplaza .under-business-company-list-item-logo img {
    width: 100%;
}
#yasuuemon .under-business-company-list-item-logo img {
    width: 90%;
}
#asentrust .under-business-company-list-item-logo img {
    width: 100%;
}
#sanei .under-business-company-list-item-logo img {
    width: 100%;
}
#shoji .under-business-company-list-item-logo img {
    width: 100%;
}
.under-business-company-name {
    font-size: 24px;
    color: var(--color-brand);
    font-weight: 700;
    margin-bottom: 30px;

}
.under-business-company-txt {
    font-weight: 500;
    margin-bottom: 50px;
}

/*-------------
吉見グループについて
-------------*/
section#greeting {
    margin-bottom: 192px;
}
section#philosophy {
    margin-bottom: 239px;
}
section#areas {
    margin-bottom: 120px;
}
.under-greeting-txt {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    gap: 1.5em;
    margin-bottom: 70px;
}
.img-president {
margin-bottom: 50px;
}
.president-sign {
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
}
.president-sign img {
    width: 245px;
    height: auto;
}
.greeting-poem {
    width: 100%;
    max-width: 1050px;
    margin: auto;
}


.under-section-1__inner_gredo {
    margin-bottom: 186px;
}
.under-gredo-title {
    font-family: var(--font-jp-serif);
    font-size: 110px;
    font-weight: 400;
    color: var(--color-brand);
    text-align: center;
    letter-spacing: 0.3em;
    line-height: 1em;
    margin: 110px auto 75px;
}
.under-gredo-list {
    width: fit-content;
    margin: auto;
}
.under-gredo-list li {
    font-size: 36px;
    line-height: 2em;
}

.under-vision-list {
    text-align: center;
}
.under-vision-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 36px;
    margin-bottom: 60px;
    font-weight: 500;
}
.under-vision-ti::before,
.under-vision-ti::after {
    content: "";
    display: inline-block;
    width: 155px;
    height: 1px;
    background: #000;
}
.under-vision-ti::after {
    left: auto;
    right: -200px;
}

.under-vision-txt {
    color: var(--color-brand);
    font-weight: 700;
    margin-bottom: 120px;
}
.under-vision-txt-main,
.under-vision-txt-main * {
        font-size: 40px;
        margin-bottom: 10px;
        position: relative;
}

.under-vision-txt-sub,
.under-vision-txt-sub * {
        font-size: 26px;
}

.under-areas-ti {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
.under-areas-txt {
    margin-bottom: 65px;
}
.under-areas-graph {
    max-width: 740px;
    margin: 0px auto 65px;
}
.under-areas-graph img{
    width: 100%;
}

.under-areas-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: min(3.75cqw, 40px) ;
}
.under-areas-list-item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: calc((100% - min(7.5cqw, 80px)) / 3);
    border: solid 1px var(--color-brand);
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #fff;
}
.under-areas-list-item-ti {
    font-size: 20px;
    text-align: center;
    color: var(--color-brand);
    font-weight: 500;
}
.under-areas-list-item-txt {
    font-size: 14px;
}

.under-numbers-box {
    width: 100vw;
    margin-left: calc((100vw - 100%) / -2);
}
.under-numbers-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.under-numbers-list-item {
    display: flex;
    align-items: center;
}
.under-numbers-list-item:nth-child(even) {
    flex-direction: row-reverse;
}

.under-numbers-list-item-img {
    width: 55%;
}
.under-numbers-employee .under-numbers-list-item-img img,
.under-numbers-gender .under-numbers-list-item-img img,
.under-numbers-holiday .under-numbers-list-item-img img {
        width: 84%;
}

.under-numbers-list-item-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 45%;
    max-width: 450px;
    margin-inline: 60px;
}
.under-numbers-list-item:nth-child(even) .under-numbers-list-item-info {
    text-align: right;
}
/* .under-numbers-list-item:nth-child(even) .under-numbers-list-item-ti {
    text-align: right;
} */
.under-numbers-list-item-ti img {
    display: inline-block;
    width: auto;
    max-height: min(5.9vw, 90px);
}

.under-numbers-gender .under-numbers-list-item-ti img {
    max-height: 193px;
}
.under-numbers-ratio .under-numbers-list-item-ti img {
    max-height: 221px;
}


.under-numbers-list-item-txt {
    text-align: left;
}
